* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}

body {
  background-color: cornflowerblue;
}

.container {
  width: 1200px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  width: 500px;
}

.author {
  display: flex;
  column-gap: 1rem;
}

.propic_container {
  width: 50px;
}

.nickname_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nickname {
  font-weight: bold;
}

.date {
  font-size: 0.75rem;
}

.propic_container img {
  border-radius: 50%;
}

.like_action {
  display: flex;
}

.like_action > .col {
  width: calc(100% / 2);
  text-align: center;
}

.btn_like {
  /* display: inline-block; */
  cursor: pointer;
  user-select: none;
  /* padding: 0.5rem 1rem;
  background-color: lightgrey; */
}

.likes_counter {
  user-select: none;
}

.n_likes {
  font-weight: bold;
}

.liked {
  color: blue;
}
